.about-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #2a2438;
}

.project {
  margin: 100px;
  padding: 70px;
  width: 60%;
  background-color: #dbd8e3;
  border-radius: 20px;
  min-width: 720px;
}

.project h1 {
  padding: 20px;
  text-align: center;
}
.project h2 {
  padding: 20px;
  text-align: center;
}

.project p {
  padding: 20px;
  text-align: center;
}

.api img {
  height: 300px;
  width: 300px;
}

.api {
  display: flex;
  align-items: center;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tech div img {
  height: 250px;
  width: 250px;
}
.tech div {
  text-align: center;
  padding: 35px;
}
