.link :focus,
:visited,
:link,
:active {
  text-decoration: none;
  color: inherit;
}
.link :hover {
  background-color: #5c5470;
}

.coin-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

@media only screen and (max-width: 1704) {
  .coin-container {
    display: flex;
    justify-content: center;
  }
}
.coin-row {
  display: flex;
  flex-direction: row;

  /* justify-content: flex-start; */
  align-items: center;
  height: 10px;
  width: 700px;
}

.coin {
  display: flex;
  align-items: center;
  /* padding-right: 20px; */
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 50%;
}

.coin-price {
  width: 10px;
}

.coin-volume {
  width: 50px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 50px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
