* {
  box-sizing: border-box;
}

.coinPage {
  /* margin: 50px; */
  height: 100%;
  background-color: #2a2438;
  display: block;
  overflow: auto;
}
.grid {
  display: grid;
  height: 100%;
  width: 100%;
  bottom: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  /* position: absolute; */
}

.NPContainer {
  grid-area: 1 / 1 / 2 / 7;
  margin: 20px 25px 0px 25px;
}
.GContainer {
  grid-area: 2 / 1 / 8 / 6;
  margin: 20px 13px 0px 25px;
}
.DContainer {
  grid-area: 2 / 6 / 5 / 7;
  margin: 20px 25px 10px 12px;
}
.NContainer {
  grid-area: 5 / 6 / 8 / 7;
  margin: 0px 25px 25px 12px;
}

.NPContainer {
  display: flex;
  background-color: #dbd8e3;
  border-radius: 10px;
  padding: 20px;
  min-width: 410px;
  min-height: 120px;
}
.NPContainer h1 {
  margin: 6px;
}
.coinImg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.coinImg {
  animation: spin-animation 4s infinite;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.DContainer {
  background-color: #dbd8e3;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  /* overflow: scroll; */
}
.NContainer {
  background-color: #dbd8e3;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  overflow: scroll;
}
.GContainer {
  position: relative;
  background-color: #dbd8e3;
  border-radius: 10px;
  padding: 50px;
  /* min-width: 1000px; */
  /* min-height: 550px; */
}

.timeButton {
  text-align: center;
  border-radius: 5px;
  height: 40px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

.timeButton:hover {
  background-color: #5c5470;
}
.chart-button {
  position: absolute;
  margin-left: 100px;
  margin-top: -15px;
}

.newst {
  margin-top: 30px;
}

ul li {
  list-style: none;
  margin-top: 20px;
}
/* CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
  .coinPage {
    height: auto;
  }
  .grid {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
