html,
body,
#app,
#root,
#app > div {
  height: 100%;
  min-width: 740px;
}

.home-container {
  display: block;
  height: 100%;
  background-color: #2a2438;
}
.home-grid {
  display: grid;
  height: 100%;
  /* margin: 50px; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* grid-column-gap: 25px;
  grid-row-gap: 25px; */
}
.home-coin-container {
  grid-area: 1 / 1 / 7 / 4;
}
.graph-item-container {
  grid-area: 1 / 4 / 4 / 7;
}
.news-item-container {
  grid-area: 4 / 4 / 7 / 7;
}

.home-coin-container {
  display: block;
  margin: 25px;
  background-color: #dbd8e3;
  border-radius: 20px;
  text-align: center;
  min-width: 720px;
}
.home-coin-container h1 {
  margin: 25px;
}

.coin-search {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 10px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  color: #dbd8e3;
  background-color: #2a2438;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.link {
  padding: 10px;
}
.graph-item-container {
  text-align: center;
  background-color: #dbd8e3;
  border-radius: 20px;
  margin: 25px;
  max-height: 600px;
  min-width: 700px;
  position: relative;
  padding: 50px;
}
.news-item-container {
  background-color: #2a2438;
  border-radius: 20px;
  margin: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  padding: 25px;
  background: #dbd8e3;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  color: #2a2438;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #dbd8e3;
  background-color: #2a2438;
}
.paginationActive a {
  color: #dbd8e3;
  background-color: #2a2438;
}

@media only screen and (max-width: 1704px) {
  .coin-app {
    align-items: center;
  }
  .coin-container {
    justify-content: center;
  }
}

@media (max-width: 1281px) {
  .home-container {
    height: auto;
  }
  .home-grid {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
