.Page {
  padding: 20px;
  background: #2a2438;
}
.NewsPage {
  margin: auto;
  width: 50%;
  border-radius: 20px;
  padding: 25px;
  background: #dbd8e3;
}
.NewsPage h1 {
  padding-bottom: 20px;
  text-align: center;
}
.NewsContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.NewsContainer a {
  text-decoration: none;
  color: black;
}
.newsImage {
  width: 100px;
  height: 100px;
  margin-left: auto;
  padding-bottom: 10px;
  align-self: flex-end;
}

/* @media (min-width: 320px) {
  .Page {
    padding: 0;
    width: 100%;
    background: #dbd8e3;
  }
  .NewsPage {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .NewsPage h1 {
    display: none;
  }
  .NewsPage h3:hover {
    color: #5c5470;
  }
  .NewsPage h3 {
    margin-top: 7px;
  }
  .NewsPage p {
    display: none;
  }
  .NewsContainer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .NewsContainer:hover {
    color: none;
  }
  .NewsContainer a {
    text-decoration: none;
    color: black;
  }
  .newsImage {
    display: none;
  }
} */
