@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Color Scheme 
  #2A2438 - DARKEST
  #352F44 - DARK
  #5C5470 - Light
  #DBD8E3 - Lightest
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.home {
  width: 100%;
}
