.tGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
  background-color: #2a2438;
  align-items: center;
}

.tList {
  grid-area: 1 / 5 / 7 / 4;
}

.tList {
  margin: 25px;
  padding: 50px;
  background-color: #dbd8e3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tList h1 {
  text-align: center;
  padding: 15px;
  padding-top: 30px;
}

.tcoinContainer {
  display: flex;
}
