.footer {
  width: 100%;
  bottom: 0;
  background-color: #2a2438;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 0.8em;
}
.footerLink {
  text-decoration: none;
  color: white;
}
.footerLink:hover {
  color: #5c5470;
}
.icon {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  align-items: center;
}
#copyright {
  margin-bottom: 5px;
}
